<nav>
    <div class="navigation">
        <div class="image-text-container">
            <a href="index.html"><img src="images/logo.webp" alt="Anime Fun icon" width="115" height="115"
                    class="logo-image"></a>
            <div class="nav-header-text">
                <p id="nav-logo-title">Anime Fun!<br><span id="japan-font">アニメ 楽しみ</span></p>
            </div>
        </div>
        <div id="sub-nav">
            <ul class="nav-options">
                <li><a href="index.html" id="home-header-nav-link">Shows</a></li>
                <li><a href="favorites/favorites.html" id="favorites-header-nav-link">Favorites</a></li>
                <li><a href="fanmail/fanmail.html" id="fanmail-header-nav-link">Fan Mail</a></li>
            </ul>
        </div>
    </div>
</nav>
<button id="menu" title="Menu button"></button>