@media screen and (min-width: 480px) {
    .navigation {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .nav-header-text {
        padding-left: 0.5rem;
    }

    .nav-options,
    .footer-nav-options {
        display: flex;
        flex-direction: row;
        list-style: none;
    }

    .footer-nav-options li {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .nav-options a,
    .footer-nav-options a {
        display: block;
        text-decoration: none;
    }

    .nav-options a:hover {
        text-decoration: underline;
        text-decoration-thickness: 5px;
		background-color: var(--byzantium);
		border: none;
		color: white;
		font-weight: normal;
    }
	
	.nav-options a.active {
        background-color: var(--mindaro);
		color: black;
		border: none;
    }

    .filter-options {
        display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		flex-direction: row;
        align-items: center;
        list-style: none;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .filter-options a {
        display: block;
        text-decoration: none;
    }


    #sub-nav {
        grid-template-rows: 1fr;
        transition: none;
    }
    
    #menu {
        display: none;
    }

    .hero-callouts {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 0;
    }

    .hero {
        grid-area: 1 / 1 / 2 / 2;
    }

    .hero img {
        width: 100%;
        height: auto;
    }

    .show-detail-hero img {
        width: auto;
        height: auto;
    }

    .callouts {
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .callout-data {
        padding-top: 2rem;
        width: 600px;
        border: none;
        background-color: rgba(255, 255, 255, 0);
    }

    .callout-data-header,
    .callout-data-subheader {
        font-size: 150%;
        color: var(--theme-text-color);
    }

    .callout-data-header {
        padding-bottom: 1rem;
    }

    .container, .favorites-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
        grid-gap: 25px;
        align-items: end;
    }
	
	.favorites-list img {
		width: 150px;
	}

    hr {
        width: 12.5%;
    }

    /* Favorites */
	.favorites-line, .show-detail-lines {
		width: 33%;
	}

    fieldset {
        max-width: 900px;
    }

    .list {
        padding-left: 1rem;
        padding-right: 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
    }

    .list section {
        grid-template-columns: 1fr;
    }

    .list {
        font-weight: bold;
    }

    .list p {
        font-weight: normal;
        font-size: 18px;
    }

    .list button {
        width: 150px;
        height: 50px;
    }

    .form button {
        max-width: 150px;
    }
	.error-alert {
		width: 400px;
	}
	/* Got help from here: https://css-tricks.com/left-and-right/ */
	#joint-content-container {
		display: grid;
	}
	.left-side {
		grid-column: 1;
	}
	.right-side {
		grid-column: 2;
		align-self: center;
	}
}