:root {
    --main-background-color: white;
    --theme-text-color: #CFAB38;
    --main-red: #E53935;
    --metallic-silver: #B0B0B0;
    --dark-gray: #2E2E2E;
    --byzantium: #7A306C;
	--mindaro: #DBFE87;
	--header-english-font: "Patua One";
	--japanese-font: "Noto Serif JP";
	--main-font: "Roboto";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#japan-font, .name-kanji {
	font-family: var(--japanese-font), sans-serif;
	font-size: smaller;
    padding-bottom: 1rem;
}

main {
    font-family: var(--main-font), sans-serif;
}

header,
footer {
    color: var(--mindaro);
    background-color: var(--byzantium);
    text-align: center;
    font-family: var(--header-english-font), serif;
}

nav {
    padding: 1rem;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
}

.image-text-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-image {
    width: 100px;
    height: 100px;
}

.nav-header-text {
    font-size: 35px;
    padding: 0.5rem 0 0 0.5rem;
}

.nav-options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
}

.nav-options a {
    display: none;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: larger;
    padding: 0.5rem;
}

.nav-options a:hover {
    color: black;
    font-weight: bold;
    background-color: var(--mindaro);
	border: 0.5px solid var(--metallic-silver);
}

.active::before {
    content: "楽 ";
}

#sub-nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

#sub-nav ul {
    overflow: hidden;
}

#sub-nav.open {
    grid-template-rows: 1fr;
}

.filter-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 50px);
    justify-content: center;
	align-items: center;
	text-align: center;
    list-style: none;
}

.filter-options a {
    display: inline-block;
	width: 150px;
	text-decoration: none;
    text-align: center;
    color: black;
    margin: 1rem 0.5rem;
	padding: 0.5rem;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
    background: linear-gradient(45deg, var(--metallic-silver), var(--byzantium));
    border: none;
    border-radius: 25px;
    transition: 0.3s ease;
}

.filter-options a:hover {
    background: linear-gradient(45deg, var(--byzantium), var(--metallic-silver));
    transform: scale(1.1);
}

.filter-options a.active {
	background: var(--main-red);
	color: black;
	border: none;
}

#menu {
    display: block;
    text-decoration: none;
    position: absolute;
    align-items: center;
}

/* Location of nav menu button */
#menu {
    top: 0.9rem;
    right: 0.75rem;
}

#menu::before {
    content: "≡";
    font-size: 125%;
}

#menu.open::before {
    content: "❌";
    font-size: 125%;
}

.open a {
    display: block;
}

.hero-callouts {
    background-color: white;
}

.hero img {
    width: 100%;
    height: auto;
}

.show-detail-hero {
    text-align: center;
    padding: 1rem;
}

.show-detail-hero img {
    width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    margin: 0.5rem;
}

.container, .pokemon {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 5px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 0;
}

.container a, .pokemon a {
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 0.5rem;
}

.container a:hover {
    transform: scale(1.10);
}

.container section, .pokemon section {
    border: 0.5px solid black;
    border-radius: 25px;
    margin: 0.25rem 2.25rem;
    padding: 1rem;
    background-color: rgba(219, 254, 135, 0.5);
    text-align: center;
}

.container img, .pokemon section {
    width: 125px;
    height: auto;
    padding: 0.5rem;
}

.container h2 {
    padding-bottom: 0.75rem;
}

.container p {
    padding-bottom: 0.5rem;
}

.favorites-list {
	text-align: center;
	margin: 1rem 0;
	padding: 0.5rem 0;
	list-style: none;
}

.favorites-list li {
	margin-bottom: 1rem;
}

.favorites-list a {
	text-decoration: none;
	color: black;
}

.favorites-list li:hover {
    transform: scale(1.05);
}

.favorites-list img  {
	width: 200px;
    height: auto;
	padding: 0.5rem;
}

.showCard:hover {
	transform: scale(1.05);
}

footer {
    text-align: center;
    font-size: 90%;
    padding: 0.75rem;
}

footer p {
    padding: 0;
    line-height: 2;
}

.footer-nav-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.footer-nav-options li {
    border-right: 1px solid var(--main-background-color);
}

.footer-nav-options li:last-child {
    border-right: none;
}

.footer-nav-options a {
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 0.5rem;
}

.footer-nav-options a:hover {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 5px;
}

hr {
    height: 0.5px;
    width: 25%;
    margin: 1.25rem auto;
    border: none;
    border-top: 1px solid var(--main-background-color);
}

.show-detail-container, .characters-container, #favorite-shows, #favorite-characters {
    margin: 0.75rem auto;
    padding: 0 1rem;
}

.favorite-star {
    color: gray;
    font-size: 3rem;
    cursor: pointer;
}

.favorite-star:hover {
    transform: scale(1.25);
}

.favorite-star-currentFavorite {
    color: var(--byzantium);
}

.show-detail-lines {
    height: 0.5px;
    width: 66%;
    margin: 0.25rem 0;
    border: none;
    border-top: 3px solid var(--dark-gray);
}

.synopsis-container {
	padding: 0.5rem 0;
}

#synopsis {
    font-style: italic;
    padding: 0.5rem;
}

.show-characters-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 50px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 0;
}

.card {
    width: 300px;
    height: 500px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-front {
    background-color: rgba(219, 254, 135, 0.5);
	align-items: center;
}

.card-front img {
    width: 200px;
    height: auto;
}

.card-front h3 {
    padding-top: 0.75rem;
	font-size: 25px;
}

.card-front p {
    font-size: 20px;
    font-style: italic;
}

.card-front > .name-kanji {
    font-size: smaller;
}

.card-back {
    background-color: var(--main-red);
    transform: rotateY(180deg);
	padding-left: 1rem;
}

.card-back h2 {
    padding-bottom: 0.75rem;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: var(--la-liga-red);
}

.card-back p {
    font-size: 20px;
    line-height: 2;
}

.card-back ul {
    padding-left: 1.25rem;
}

.card-back li {
    line-height: 1.5;
}

.card.flipped {
    transform: rotateY(180deg);
}

/* Favorites */
.favorites-line {
    height: 0.5px;
    width: 50%;
    margin: 0;
    border: none;
    border-top: 3px solid var(--dark-gray);
}

/* Fan Mail */
#display-option-buttons {
	text-align: center;
	margin-top: 1rem;
	padding: 0.5rem;
}

.display-option-button {
	display: inline-block;
	margin: 0 1rem;
	padding: 0.75rem;
	font-weight: bold;
	font-family: "Roboto", sans-serif;
	text-align: center;
	cursor: pointer;
	background: linear-gradient(45deg, var(--theme-text-color), var(--mindaro));
	border: none;
	transition: 0.3s ease;
}

.display-option-button:hover {
	background: linear-gradient(45deg, var(--mindaro), var(--theme-text-color));
	transform: scale(1.05);
}

.list {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.list li {
    display: grid;
    grid-template-columns: 1fr;
    min-width: 320px;
    margin: 0;
    padding: 0.25rem;
	background-color: var(--mindaro);
}

.list figure {
	display: none;
}

.list li:nth-child(even) {
    background-color: rgba(122, 48, 108, 0.55);
}

.response-form {
    display: none;
}

.show {
    display: block;
	margin-top: 0.75rem;
    margin-bottom: 0.75rem;
	padding-left: 1rem;
    padding-right: 1rem;
    transform: translateX(-100%);
    opacity: 0;
    animation: smooth-appear 1s ease-out forwards;
}

@keyframes smooth-appear {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.form-header-text,
.form {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

fieldset {
    margin: 0.75rem 0;
}

#form-heading {
    padding: 1rem 0.5rem 0.5rem 0.5rem;
}

.form label {
    display: block;
    padding-top: 1rem;
    font-size: 0.9rem;
    font-weight: bold;
    max-width: 400px;
}

.form input[type="text"],
.form textarea,
.form select {
    display: block;
    padding: 0.5rem;
    width: 100%;
    max-width: 400px;
}

.label-header {
    font-weight: bold;
    font-size: 0.9rem;
    padding-top: 1rem;
    padding-bottom: 0.25rem;
}

#submit-button {
    font-family: "Roboto", sans-serif;
    display: inline-block;
    cursor: pointer;
    background: linear-gradient(45deg, var(--main-red), var(--mindaro));
    color: black;
    border: none;
    margin-top: 1rem;
	padding: 10px 20px;
    font-size: 18px;
    border-radius: 25px;
    transition: 0.3s ease;
    text-decoration: none;
    width: 100%;
    max-width: 400px;
    height: 45px;
}

#submit-button:hover {
    background: linear-gradient(45deg, var(--mindaro), var(--main-red));
    transform: scale(1.02);
}

.error-alert {
	display: none;
	padding: 0.5rem;
	width: 100%;
	background-color: rgba(255, 165, 0, 0.75);
	border: 1px solid darkorange;
}

.closeSymbol {
	float: right;
}

.closeSymbol {
	cursor: pointer;
}

#another-letter-button {
    font-family: "Roboto", sans-serif;
    display: inline-block;
    cursor: pointer;
    background: linear-gradient(45deg, var(--metallic-silver), var(--byzantium));
    color: black;
    border: none;
    margin-top: 0.5rem;
	padding: 10px 20px;
    font-size: 18px;
    border-radius: 25px;
    transition: 0.3s ease;
    text-decoration: none;
    width: 100%;
    max-width: 400px;
    height: 45px;
}

#another-letter-button:hover {
    background: linear-gradient(45deg, var(--byzantium), var(--metallic-silver));
    transform: scale(1.02);
}
